{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div>


  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="{% static 'image/slide.jpg' %}" alt="image" width="1400px;" height="300px;">
    </div>
    </div>
  </div>
</div>
<br>
     {% if user.is_authenticated %}
     <h3>Welcome  {{user.first_name}}</h3>
     {% endif %}
<br>
    <p class="text-justify">This is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click? Not only mobiles. Everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to in-vogue fashion staples like shoes, clothing and lifestyle accessories; from modern furniture like sofa sets, dining tables, and wardrobes to appliances that make your life easy like washing machines, TVs, ACs, mixer grinder juicers and other time-saving kitchen and small appliances; from home furnishings like cushion covers, mattresses and bedsheets to toys and musical instruments, we got them all covered. You name it, and you can stay assured about finding them all here. For those of you with erratic working hours, this is your best bet. Shop in your PJs, at night or in the wee hours of the morning.</p>
<br>
<div class="container">
<div class="row">
    <div class="col-sm">
        <div class="card text-center" style="width: 15rem; height: 5rem;">
          <div class="card-header bg-info text-white">
            Statistics
          </div>
          <div class="card-body col-sm">
              <h6 class="card-title">Staff<i class="fas fa-user"></i> <strong>{{ workers_count }}</strong></h6>
          </div>
        </div>
    </div>
</div>
</div>
{% endblock %}