<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'emplyeeapp:fn_home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href=" {% url 'emplyeeapp:fn_emplist' %} ">Employee_List</a>
        </li>
        {% endif %}
      </ul>

    </div>
    {% if user.is_authenticated %}
    <form class="d-flex" action="#">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search"  aria-label="Search">
        <button class="btn btn-outline-success">
          <i class="fa fa-search"></i>
        </button>
      </form> &nbsp;&nbsp;
     <a class="btn btn-secondary" href="{% url 'emplyeeapp:fn_register' %}" role="button">Add Employee</a>&nbsp;&nbsp&nbsp;&nbsp;
    <a class="btn btn-secondary" href="{% url 'emplyeeapp:fn_logout' %}" role="button">Logout</a>
    {% else %}
    <a class="btn btn-secondary" href="{% url 'emplyeeapp:fn_login' %}" role="button">Login</a>
    {% endif %}

  </div>
</nav>
<br>